HELP.md
/target/
/build/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VScode ###
.vscode/

### OS ###
# macOS
.DS_Store
# Windows
Thumbs.db

### JAR/WAR/ZIP ###
*.jar
*.war
*.zip
*.ear

### Log and temp file ###
*.log
/log/
/temp/

### Sensitive config ###
application.properties
application.yml
*.env.json
